<div class="module">
  <div class="module-head">
    <h3>Editing Field Class</h3>
  </div>
  <div class="module-option clearfix">
    <div class="pull-left"></div>
    <div class="pull-right"></div>
  </div>
  <div class="module-body">

<%= render 'form', field_class: @field_class %>

<%= link_to 'Back', field_classes_path %>

</div>
</div>
