<h1>Editing Financial Institution</h1>

<%= render 'form', financial_institution: @financial_institution %>

<%= link_to 'Show', @financial_institution %> |
<%= link_to 'Back', financial_institutions_path %>
